/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
.clean-dialog-panel .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 24px !important; /* Velký radius jako na obrázku */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) !important;
  padding: 0 !important; /* Vnitřní styly si řídíme sami */
}
