
<div class="dashboard">
  <div class="stat-card">✅ {{ projects | filterByStatus:ProjectStatusDomain.CLOSED | length }} completed overall </div>

  <div class="header">
    <div class="stat-card">📄 {{ projects | filterByStatus:ProjectStatusDomain.ASSIGNED | length }} for translation</div>
    <!-- TODO Assigned + with feedback -->
    <div class="stat-card">📝 {{ projects | filterByStatus:ProjectStatusDomain.ASSIGNED | length }} for customer feedback </div>

    <div class="stat-card">❌ {{ projects | filterByStatus:ProjectStatusDomain.APPROVED | length }} rejected </div>
  </div>

  <div class="timeline-board">
    <div class="stage created">
      <h3>Waiting for your translation</h3>
      @for (p of projects | filterByStatus:ProjectStatusDomain.CREATED; track p.id) {
        <div class="project-card">
          <div class="title">{{ p.customerId }}</div>
          <div class="lang">English → {{ p.targetLanguage }}</div>
        </div>
      } @empty { <p class="empty">No projects</p> }
    </div>

    <div class="stage completed">
      <h3>Waiting for feedback</h3>
      @for (p of projects | filterByStatus:ProjectStatusDomain.COMPLETED; track p.id) {
        <div class="project-card">
          <div class="title">{{ p.customerId }}</div>
          <div class="lang">English → {{ p.targetLanguage }}</div>
        </div>
      } @empty { <p class="empty">No projects</p> }
    </div>

    <div class="stage approved">
      <h3>Rejected</h3>
      @for (p of projects | filterByStatus:ProjectStatusDomain.APPROVED; track p.id) {
        <div class="project-card">
          <div class="title">{{ p.customerId }}</div>
          <div class="lang">English → {{ p.targetLanguage }}</div>
        </div>
      } @empty { <p class="empty">No projects</p> }
    </div>
  </div>
</div>



