<app-project-modal-layout [project]="project">

  <div class="dialog-header" slot="header">
    <h2 mat-dialog-title>{{ "projectReviewModal.title" | translate }}: {{ project.originalFileName }}</h2>

    <button mat-icon-button
            class="close-icon-btn"
            aria-label="Close dialog"
            (click)="isRejecting ? toggleRejectMode() : onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div slot="content">
    <section class="detail-section files-section">
      <h3><mat-icon>folder</mat-icon> {{ "projectReviewModal.downloadFilesHeader" | translate }}</h3>
      <div class="file-action-note">
        <mat-icon>visibility</mat-icon>
        <span>{{ "projectReviewModal.downloadFilesNote" | translate }}</span>
      </div>

      <button mat-stroked-button
              (click)="onDownload()"
              [disabled]="isDownloading || !project.translatedFileName"
              class="download-link-btn">
        @if (isDownloading) {
          <mat-spinner [diameter]="20"></mat-spinner>
        } @else {
          <mat-icon>cloud_download</mat-icon>
        }

        <span>{{ "projectReviewModal.downloadTranslatedFileButton" | translate }} </span>
      </button>
    </section>

    <form [formGroup]="feedbackForm" class="detail-section feedback-area" *ngIf="isRejecting">
      <h3><mat-icon>edit_note</mat-icon> {{ "projectReviewModal.rejectionReasonHeader" | translate }}</h3>
      <mat-form-field appearance="outline" class="full-width-input">
        <mat-label>{{ "projectReviewModal.rejectionReasonLabel" | translate }}</mat-label>
        <textarea matInput
                  formControlName="feedback"
                  rows="4"
                  placeholder='{{ "projectReviewModal.rejectionReasonPlaceholder" | translate }}'></textarea>
      </mat-form-field>
    </form>
  </div>

  <div class="actions-container" slot="actions">
    <button mat-button
            class="action-btn reject-btn"
            [class.reject-active]="isRejecting"
            [disabled]="isLoading"
            (click)="isRejecting ? onReject() : toggleRejectMode()">
      <mat-icon>{{ isRejecting ? 'cancel' : 'thumb_down' }}</mat-icon>
      <span>{{"projectReviewModal.rejectButton" | translate}}</span>
    </button>

    <button mat-button
            class="action-btn accept-btn"
            [disabled]="isLoading || isRejecting"
            (click)="onApprove()">
      <mat-icon>check_circle</mat-icon>
      <span>{{"projectReviewModal.approveButton" | translate}}</span>
    </button>
  </div>

</app-project-modal-layout>
