<div *ngIf="this.user as user">

  <nav class="navbar">
    <div class="brand" routerLink="/">
      <mat-icon>translate</mat-icon>
      <span class="logo-text">LinguaFlow</span>
    </div>

    <div class="status-panel">
      <span class="panel-icon"><mat-icon>waving_hand</mat-icon></span>
      <span class="panel-text">{{ "layout.welcome" | translate }} {{ user.name | titlecase }}</span>
    </div>
    <div class="user-controls-group">

      <div class="language-dropdown-wrapper"
           (mouseenter)="openLangDropdown()"
           (mouseleave)="closeLangDropdown()"
           (click)="toggleLangDropdown()">
        <mat-icon>language</mat-icon>
        <span class="active-lang-label">{{ languageService.activeLanguage() | uppercase }}</span>
        <mat-icon class="caret">expand_more</mat-icon>

        <div class="dropdown lang-dropdown" *ngIf="showLangDropdown">
          <button
            class="lang-item"
          [class.active]="languageService.activeLanguage() === SupportedLanguage.EN"
          (click)="languageService.switchLanguage(SupportedLanguage.EN); $event.stopPropagation()">
          English (EN)
          </button>
          <button
            class="lang-item"
          [class.active]="languageService.activeLanguage() === SupportedLanguage.CS"
          (click)="languageService.switchLanguage(SupportedLanguage.CS); $event.stopPropagation()">
          Čeština (CZ)
          </button>
        </div>
      </div>

      <div class="user-menu-wrapper"
           (mouseenter)="openMenu()"
           (mouseleave)="closeMenu()">

        <div class="avatar-name" (click)="toggleMenu()">
          <span class="avatar">{{ user.name | slice:0:1 }}</span>
          <span class="username">{{ user.name }}</span>
          <mat-icon class="caret">expand_more</mat-icon>
        </div>

        <div class="dropdown" *ngIf="showMenu">

          <div class="menu-header">
            <p class="header-name">{{ user.name | titlecase }}</p>
            <p class="header-role">{{ 'global.' + user.role | lowercase | translate }}</p>
          </div>

          <div class="menu-items">
            @if (user.role === 'TRANSLATOR') {
              <button class="menu-item translator-settings-btn"
                      (click)="openSettingsModal()">
                <mat-icon>settings</mat-icon>
                <span>{{ "layout.translatorSettings" | translate }}</span>
              </button>
            }
            <button class="menu-item logout-btn" (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>{{ "layout.logoutButton" | translate }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

</div>
