<div class="page-background">
  <form class="init-container" [formGroup]="form">
    <h1 class="title">
      <mat-icon>translate</mat-icon>
      {{ 'initPage.title' | translate }}</h1>
    <p class="subtitle">{{ 'initPage.subtitle' | translate }}</p>

    <div class="form-section">
      <label class="section-label">{{ 'initPage.role.label' | translate }}</label>
      <div class="role-tabs">

        <button
          type="button"
          class="role-card"
          (click)="selectRole(UserRoleDomain.CUSTOMER)"
          [class.active]="form.get('role')?.value === UserRoleDomain.CUSTOMER"
        >
          <span class="icon">💼</span>
          <span class="role-name">{{ 'global.customer' | translate }}</span>
          <span class="role-desc">{{ 'initPage.role.customer.description' | translate }}</span>
        </button>

        <button
          type="button"
          class="role-card"
          (click)="selectRole(UserRoleDomain.TRANSLATOR)"
          [class.active]="form.get('role')?.value === UserRoleDomain.TRANSLATOR"
        >
          <span class="icon">✍️</span>
          <span class="role-name">{{ 'global.translator' | translate }}</span>
          <span class="role-desc">{{ 'initPage.role.translator.description' | translate }}</span>
        </button>
      </div>
    </div>

    @if (form.get('role')?.value === UserRoleDomain.TRANSLATOR) {
      <div class="form-section">
        <label class="section-label">{{ 'initPage.language.label' | translate }}</label>

        <app-language-select
          [isMulti]="true"
          formControlName="languages">
        </app-language-select>

        <p class="lang-note">{{ 'initPage.language.note' | translate }}</p>
      </div>
    }

    <button class="save-btn" (click)="saveSelection()">
      <span class="icon">🚀</span>
      {{ 'initPage.button.finish' | translate }}
    </button>
  </form>
</div>
