<button class="fab-full" (click)="openNewProject()">
  <span class="icon">➕</span>
  <span class="label">Create New Project</span>
</button>
<div class="dashboard">
  <div class="header">
    <div class="stat-card">📄 {{ projects | filterByStatus:ProjectStatusDomain.CREATED | length }} to translate</div>
    <div class="stat-card">📝 {{ projects | filterByStatus:ProjectStatusDomain.COMPLETED | length }} feedback</div>
    <div class="stat-card">✅ {{ projects | filterByStatus:ProjectStatusDomain.APPROVED | length }} done</div>
  </div>

  <div class="timeline-board">
    <div class="stage created">
      <h3>Waiting for translation</h3>
      @for (p of projects | filterByStatus:ProjectStatusDomain.CREATED; track p.id) {
        <div class="project-card">
          <div class="title">{{ p.customer.id }}</div>
          <div class="lang">English → {{ p.targetLanguage }}</div>
        </div>
      } @empty { <p class="empty">No projects</p> }
    </div>

    <div class="stage completed">
      <h3>Waiting for feedback</h3>
      @for (p of projects | filterByStatus:ProjectStatusDomain.COMPLETED; track p.id) {
        <div class="project-card">
          <div class="title">{{ p.customer.id }}</div>
          <div class="lang">English → {{ p.targetLanguage }}</div>
        </div>
      } @empty { <p class="empty">No projects</p> }
    </div>

    <div class="stage approved">
      <h3>Completed</h3>
      @for (p of projects | filterByStatus:ProjectStatusDomain.APPROVED; track p.id) {
        <div class="project-card">
          <div class="title">{{ p.customer.id }}</div>
          <div class="lang">English → {{ p.targetLanguage }}</div>
        </div>
      } @empty { <p class="empty">No projects</p> }
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal-backdrop" *ngIf="showNewProject" (click)="closeNewProject()"></div>
<div class="mymodal" *ngIf="showNewProject" >
  <app-customer-new-project></app-customer-new-project>
  <button class="close-btn" (click)="closeNewProject()">✖</button>
</div>

