<div class="dialog-wrapper">

  <div class="dialog-header">
    <h2 mat-dialog-title>{{ 'translatorSettingsModal.title' | translate }}</h2>
    <button mat-icon-button class="close-icon-btn" aria-label="Close dialog" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <form [formGroup]="form">
      <section class="detail-section">
        <h3>
          <mat-icon>translate</mat-icon>
          {{ 'translatorSettingsModal.languageLabel' | translate }}
        </h3>

        <p class="form-description">
          {{ 'translatorSettingsModal.languageDescription' | translate }}
        </p>

        <app-language-select
          [isMulti]="true"
          formControlName="languages"
          [placeholder]="'translatorSettingsModal.languagePlaceholder' | translate"
        ></app-language-select>

      </section>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions class="actions-container">
    <button mat-button (click)="onClose()">
      {{ 'translatorSettingsModal.cancelButton' | translate }}
    </button>
    <button
      mat-flat-button
      class="submit-button"
      (click)="saveSettings()"
      [disabled]="isLoading || form.pristine || form.invalid">
      @if (!isLoading) {
        <span>{{ 'translatorSettingsModal.saveButton' | translate }}</span>
      } @else {
        <mat-spinner [diameter]="24" color="accent"></mat-spinner>
      }

    </button>
  </mat-dialog-actions>

</div>
