
<div class="dashboard">
  <div class="header">
    <div class="stat-card">📄 {{ projects | filterByStatus:ProjectStatusDomain.CREATED | length }} with feedback</div>
    <div class="stat-card">📝 {{ projects | filterByStatus:ProjectStatusDomain.COMPLETED | length }} completed</div>
  </div>

  <div class="timeline-board">
    <div class="stage created">
      <h3>Projects with feedback</h3>
      @for (p of projects | filterByStatus:ProjectStatusDomain.CREATED; track p.id) {
        <div class="project-card">
          <div>
            <div class="title">{{ p.customerId }}</div>
            <div class="lang">English → {{ p.targetLanguage }}</div>
          </div>
          <div>
            <button class="btn btn-secondary">
              <span class="material-icons">more_vert</span>
            </button>
          </div>


        </div>
      } @empty { <p class="empty">No projects</p> }
    </div>

    <div class="stage completed">
      <h3>Waiting for closing</h3>
      @for (p of projects | filterByStatus:ProjectStatusDomain.COMPLETED; track p.id) {
        <div class="project-card">
          <div>
            <div class="title">{{ p.customerId }}</div>
            <div class="lang">English → {{ p.targetLanguage }}</div>
          </div>
          <div>
            <button class="btn btn-danger">Close project</button>
          </div>
        </div>
      } @empty { <p class="empty">No projects</p> }
    </div>
  </div>
</div>


