<app-project-modal-layout [project]="project">

  <div class="dialog-header" slot="header">
    <h2 mat-dialog-title>
      @if (project.feedback) {
        {{ "projectSubmissionModal.resubmitTitle" | translate }}
      } @else {
        {{ "projectSubmissionModal.submitTitle" | translate }}
      }
    </h2>
    <button mat-icon-button class="close-icon-btn" aria-label="Close dialog" (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div slot="content">
    @if (project.feedback) {
      <p class="subtitle">{{ "projectSubmissionModal.feedbackSubtitle" | translate }}</p>
    } @else {
      <p class="subtitle">{{ "projectSubmissionModal.noFeedbackSubtitle" | translate }}</p>
    }

    <section class="detail-section">
      <h3>
        <mat-icon>{{ project.feedback ? 'rate_review' : 'cloud_download' }}</mat-icon>
        @if (project.feedback) {
          {{ "projectSubmissionModal.step1ReviewFeedback" | translate }}
        } @else {
          {{ "projectSubmissionModal.step1DownloadSource" | translate }}
        }
      </h3>

      @if (project.feedback) {
        <div class="feedback-note rework-note">
          <h4>
            <mat-icon>warning_amber</mat-icon>
            {{ "projectSubmissionModal.feedbackTitle" | translate }}
          </h4>
          <div class="feedback-content">
            <p class="feedback-text">
              {{ project.feedback.text }}
            </p>
            <span class="feedback-date">
              {{ "projectSubmissionModal.feedbackReceivedOn" | translate }}
              : {{ project.feedback.createdAt | date:'short' }}
            </span>
          </div>

          <button mat-stroked-button
                  (click)="onDownloadOriginal()"
                  [disabled]="isDownloading"
                  class="download-link-btn">
            @if (isDownloading) {
              <mat-spinner [diameter]="20"></mat-spinner>
            } @else {
              <mat-icon>file_download</mat-icon>
            }

            <span>
              {{ "projectSubmissionModal.downloadTitle" | translate }}: {{ project.originalFileName }}</span>
          </button>
        </div>
      } @else {
        <button mat-stroked-button
                (click)="onDownloadOriginal()"
                [disabled]="isDownloading"
                class="download-link-btn">
          @if (isDownloading) {
            <mat-spinner [diameter]="20"></mat-spinner>
          } @else {
            <mat-icon>file_download</mat-icon>
          }
          <span>{{ "projectSubmissionModal.downloadTitle" | translate }}: {{ project.originalFileName }}</span>
        </button>
      }
    </section>
    <section class="detail-section">
      <h3>
        <mat-icon>cloud_upload</mat-icon>
        @if (project.feedback) {
          {{ "projectSubmissionModal.step2UploadCorrected" | translate }}
        } @else {
          {{ "projectSubmissionModal.step2UploadTranslated" | translate }}
        }
      </h3>
      <form [formGroup]="uploadForm">
        <div class="form-group file-group">

          <button type="button" class="file-upload-button" (click)="fileInput.click()" mat-stroked-button>
            <span class="icon">{{ uploadForm.get('file')?.value ? '✅' : '⬆️' }}</span>
            <span class="label">{{
                uploadForm.get('file')?.value?.name ||
                (project.feedback ? 'projectSubmissionModal.dragDropCorrected' : 'projectSubmissionModal.dragDropTranslated') | translate
              }}</span>
          </button>

          <input hidden #fileInput type="file" (change)="onFileSelected($event)">

          @if (uploadForm.get('file')?.hasError('required') && uploadForm.get('file')?.touched) {
            <div class="error-message">{{ "projectSubmissionModal.correctedFileError" | translate }}</div>
          }
        </div>
      </form>
    </section>

  </div>

  <div class="actions-container" slot="actions">
    <button mat-button (click)="onClose()">Cancel</button>
    <button
      mat-flat-button
      class="submit-button"
      [disabled]="uploadForm.invalid || isLoading"
      (click)="submitTranslation()">
      @if (!isLoading) {
        <span>{{(project.feedback ? 'projectSubmissionModal.submitCorrectionButton' : 'projectSubmissionModal.submitTranslationButton') | translate }}        </span>
      } @else {
        <mat-spinner [diameter]="24" color="accent"></mat-spinner>
      }
    </button>
  </div>

</app-project-modal-layout>
