<div class="auth-container">

  <div class="language-switcher">
    <button class="lang-btn"
            [class.active]="languageService.activeLanguage() === SupportedLanguage.EN"
            (click)="languageService.switchLanguage(SupportedLanguage.EN)">EN
    </button>
    <button class="lang-btn"
            [class.active]="languageService.activeLanguage() === SupportedLanguage.CS"
            (click)="languageService.switchLanguage(SupportedLanguage.CS)">CS
    </button>
  </div>

  <h1 class="title">
    <mat-icon>translate</mat-icon>
    LinguaFlow
  </h1>
  <p class="subtitle">{{ "authPage.subtitle" | translate }}</p>

  <div class="tabs">
    <button (click)="switchMode('login')" [class.active]="mode === 'login'">
      {{ 'authPage.tabLogin' | translate }}
    </button>
    <button (click)="switchMode('register')" [class.active]="mode === 'register'">
      {{ 'authPage.tabRegister' | translate }}
    </button>
  </div>

  <form *ngIf="mode === 'login'" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
    <h2>{{ "authPage.login.title" | translate }}</h2>

    <div class="oauth">
      <button type="button" class="oauth-btn google" (click)="callOAuth()">
        <img ngSrc="/google.svg" alt="Google" height="48" width="48"/>
        {{ "authPage.login.oauth" | translate }}
      </button>
      <p class="divider">{{ "authPage.login.divider" | translate }}</p>
    </div>

    <label>
      {{ "authPage.login.emailLabel" | translate }}
      <input type="email" formControlName="email" placeholder='{{ "authPage.login.emailPlaceholder" | translate }}'/>
    </label>

    <label>
      {{ "authPage.login.passwordLabel" | translate }}
      <input type="password" formControlName="password" placeholder='{{ "authPage.login.passwordPlaceholder" | translate }}'/>
    </label>

    <button type="submit" [disabled]="loginForm.invalid">{{"authPage.login.button" | translate}}</button>
  </form>

  <form *ngIf="mode === 'register'" [formGroup]="registerForm" (ngSubmit)="submitRegister()">
    <h2>{{ "authPage.register.title" | translate }}</h2>

    <div class="oauth">
      <button type="button" class="oauth-btn google" (click)="callOAuth()">
        <img src="/google.svg" alt="Google"/>
        {{ "authPage.register.oauth" | translate }}
      </button>
      <p class="divider">{{ "authPage.register.divider" | translate }}</p>
    </div>

    <label>
      {{ "authPage.register.nameLabel" | translate }}
      <input type="text" formControlName="fullname" placeholder='{{ "authPage.register.namePlaceholder" | translate }}'/>
    </label>

    <label>
      {{ "authPage.register.emailLabel" | translate }}
      <input type="email" formControlName="email" placeholder='{{ "authPage.register.emailPlaceholder" | translate }}'/>
    </label>

    <label>
      {{ "authPage.register.passwordLabel" | translate }}
      <input type="password" formControlName="password" placeholder='{{ "authPage.register.passwordPlaceholder" | translate }}'/>
    </label>

    <label>
      {{ "authPage.register.confirmPasswordLabel" | translate }}
      <input type="password" formControlName="confirmPassword" placeholder='{{ "authPage.register.confirmPasswordPlaceholder" | translate }}'/>
    </label>
    <button type="submit" [disabled]="registerForm.invalid">{{"authPage.register.button" | translate}}</button>
  </form>
</div>
